#itens {
    text-align: center;
    color: black;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #c28a23
}

ul {
    list-style: none;
    padding: 0;
}

header {
    background-color: #52271d;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #52271d;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Estilos para os links de redes sociais */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-links a:hover {
    transform: scale(1.1);
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos para os interesses */
section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section li {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #52271d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#Uno {
    text-align: center;
    color: #333;

}

#foto1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

}

#foto2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

}

#foto3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

#foto4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

}

#foto5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

}
#foto6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

}

#foto7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

#mod {
    text-align: center;
    color: #333;

}

#hc {
    text-align: center;
    color: #333;

}

#micro {
    text-align: center;
    color: #333;

}

#buzzer {
    text-align: center;
    color: #333;

}

#Jumpers {
    text-align: center;
    color: #333;

}

#Led {
    text-align: center;
    color: #333;

}

#Resistor {
    text-align: center;
    color: #333;

}

#Mod {
    text-align: center;
    color: #333;
}

@keyframes float {
    0%{
    transform: translateY(0px)
}
50%{
    transform: translateY(-15px);
}
100%{
    transform: translateY(0px);
}
}